@{
    ViewData["Title"] = "Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Message"] != null)
{
    @Html.Raw(TempData["Message"])
}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="text-center">
                <h1 class="display-4">Expense Dashboard</h1>
                <p>Control your Expense</p>
            </div>
        </div>

        <div class="col-md-6">

            @await Html.PartialAsync("_ExpenseEntry", model: new ExpenseEntry())

        </div>

        <div class="col-md-6" id="allentryContainer">
            
        </div>

    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // Load list items on page load
        $.get("/Entry/_AllEntry", function (data) {
            $("#allentryContainer").html(data);
        });

        // Submit the form using AJAX and update list items
        $("#_ExpenseEntry").submit(function (e) {
            e.preventDefault();

            $.ajax({
                url: $(this).attr("action"),
                type: "POST",
                data: $(this).serialize(),
                success: function (data) {
                    $("#listPartialContainer").html(data); // Replace the list partial view content
                }
            });
        });
    });
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
