@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Message"]!=null)
{
    @Html.Raw(TempData["Message"])
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h1 class="display-4">Expense Tracker</h1>
                <p>Control your Expense</p>
            </div>
        </div>

        <div class="col-md-6">

            @await Html.PartialAsync("_EntryCategory", model: new ExpenseCategory())

            <div id="allcategoriesContainer">
                @*@await Html.PartialAsync("_AllCategories", Model)*@
            </div>
           
        </div>

       <div class="col-md-6">
            <div id="allEntryByCategoryContainer">
            </div>

            @await Html.PartialAsync("../Entry/_ExpenseEntryByCategory", model: new ExpenseEntry())

       </div>

       

    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // Load list items on page load
        $.get("/Category/_AllCategories", function (data) {
            $("#allcategoriesContainer").html(data);
        });

        $.get("/Entry/_AllEntryByCategory", function (data) {
            $("#allEntryByCategoryContainer").html(data);
        });


        
    });
</script>

